name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [ master ]

jobs:
  lint-rpc-health-checker:
    name: Run Linter (RPC Health Checker)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.24'
        cache: true
        cache-dependency-path: rpc-health-checker/go.sum

    - name: Install dependencies
      run: |
        cd rpc-health-checker
        go mod download

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        working-directory: rpc-health-checker

  lint-go-proxy-cache:
    name: Run Linter (Go Proxy Cache)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.24'
        cache: true
        cache-dependency-path: go-proxy-cache/go.sum

    - name: Install dependencies
      run: |
        cd go-proxy-cache
        go mod download

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        working-directory: go-proxy-cache 